
<form action="/credentials" method="POST">
    <label>MongoDB</label>
    <input type="text" placeholder="user name" name="userName" value="minhtq.nouvo@gmail.com">
    <input type="text" placeholder="password" name="password" value="12345678x@X">
    <button type="submit">Update</button>
</form>
