<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h3>Custom Application: {{title}}</h3>
  {{{body}}}
  </body>
</html>
